<h2>Подписка на рассылку</h2>
<form method="POST" action="{% url 'newspaperapp:subscribe' %}">
  {% csrf_token %}
  <input type="email" name="email" class="editContent" placeholder="Введите ваш email" required>

  <input type="text" name="name" class="editContent" placeholder="Введите ваше имя" required>

  <label>Выберите категории:</label>
  <div class="checkbox-wrapper">
    {% for category in categories %}
      <input type="checkbox" name="postCategory" value="{{ category.id }}" {% if category.name in subscribed_categories %}checked{% endif %}>
      <label>{{ category.name }}</label>
    {% endfor %}
  </div>

  <button type="submit">Подписаться</button>
</form>

<p>Вы уже подписаны? <a href="{% url 'newspaperapp:unsubscribe' %}?email={{ subscriber.email }}">Отписаться</a></p>
