<!-- authorized_user_page.html -->
{% extends 'flatpages/main.html' %}

{% block content %}

    <h2>Страница авторизованного пользователя {{ request.user.username }}</h2>
    <div>Здесь может содержаться персональная информация для каждого пользователя</div>
    {% if is_not_authors %}
        <button><a href="upgrade">Стать автором</a></button>
        <button><a href="{% url 'newspaper:post_list' %}">Перейти к новостям</a></button>
        <button><a href="{% url 'newspaper:subscribe' %}">Подписаться</a></button>
        <button><a href="{% url 'newspaperapp:unsubscribe' %}?email={{ request.user.email }}">Отписаться</a></button>
    {% endif %}
    <button><a href="{% url 'logout' %}">Выйти</a></button>

{% endblock %}
